<section class="why-paw-hut">
  <div class="container">
    <h2 class="gallery-title">Чому хатинка Лапок</h2>
    <div class="swiper gallery-swiper">
    <ul class="gallery-list swiper-wrapper">
      <li class="gallery-item swiper-slide">
        <div class="gallery-img-wrapper">
          <picture class="gallery-img">
          <source media="(max-width: 767px)" srcset="../img/gallery/mobile/gallery-mob-slide1@1x.jpg 1x, ../img/gallery/mobile/gallery-mob-slide1@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="../img/gallery/tablet/gallery-tab-slide1@1x.jpg 1x, ../img/gallery/tablet/gallery-tab-slide1@2x.jpg 2x">
          <source media="(min-width: 1440px)" srcset="../img/gallery/desk/gallery-desk-slide1@1x.jpg 1x, ../img/gallery/desk/gallery-desk-slide1@2x.jpg 2x">
          <img src="../img/gallery/mobile/gallery-mob-slide1@1x.jpg"
               alt="Woman with dog"
               width="335"
          />
          </picture>
          <p class="overlay">
            Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні ми — один з найбільших притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
          </p>
        </div>
      </li>
      <li class="gallery-item swiper-slide">
        <div class="gallery-img-wrapper">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/mobile/gallery-mob-slide2@1x.jpg 1x, ../img/gallery/mobile/gallery-mob-slide2@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="../img/gallery/tablet/gallery-tab-slide2@1x.jpg 1x, ../img/gallery/tablet/gallery-tab-slide2@2x.jpg 2x">
          <source media="(min-width: 1440px)" srcset="../img/gallery/desk/gallery-desk-slide2@1x.jpg 1x, ../img/gallery/desk/gallery-desk-slide2@2x.jpg 2x">
          <img src="../img/gallery/mobile/gallery-mob-slide2@1x.jpg"
               alt="Happy dog"
               width="335" />
        </picture>
        <p class="overlay">
          Ми рятуємо, реабілітуємо та знаходимо люблячі родини для безпритульних тварин. Наша мета — не просто дати прихисток, а й забезпечити кожному "хвостику" щасливе та повноцінне життя в новій родині.
        </p>
        </div>
      </li>
      <li class="gallery-item swiper-slide">
        <div class="gallery-img-wrapper">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/mobile/gallery-mob-slide3@1x.jpg 1x, ../img/gallery/mobile/gallery-mob-slide3@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="../img/gallery/tablet/gallery-tab-slide3@1x.jpg 1x, ../img/gallery/tablet/gallery-tab-slide3@2x.jpg 2x">
          <source media="(min-width: 1440px)" srcset="../img/gallery/desk/gallery-desk-slide3@1x.jpg 1x, ../img/gallery/desk/gallery-desk-slide3@2x.jpg 2x">
          <img src="../img/gallery/mobile/gallery-mob-slide3@1x.jpg"
               alt="Team"
               width="335" />
        </picture>
        <p class="overlay">
          "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які щодня вкладають свою душу та час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.
        </p>
        </div>
      </li>
      <li class="gallery-item swiper-slide">
        <div class="gallery-img-wrapper">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/mobile/gallery-mob-slide4@1x.jpg 1x, ../img/gallery/mobile/gallery-mob-slide4@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="../img/gallery/tablet/gallery-tab-slide4@1x.jpg 1x, ../img/gallery/tablet/gallery-tab-slide4@2x.jpg 2x">
          <source media="(min-width: 1440px)" srcset="../img/gallery/desk/gallery-desk-slide4@1x.jpg 1x, ../img/gallery/desk/gallery-desk-slide4@2x.jpg 2x">
          <img src="../img/gallery/mobile/gallery-mob-slide4@1x.jpg"
               alt="Playground area"
               width="335" />
        </picture>
        <p class="overlay">
          Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування, своєчасну ветеринарну допомогу, проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.
        </p>
        </div>
      </li>
      <li class="gallery-item swiper-slide">
        <div class="gallery-img-wrapper">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/mobile/gallery-mob-slide5@1x.jpg 1x, ../img/gallery/mobile/gallery-mob-slide5@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="../img/gallery/tablet/gallery-tab-slide5@1x.jpg 1x, ../img/gallery/tablet/gallery-tab-slide5@2x.jpg 2x">
          <source media="(min-width: 1440px)" srcset="../img/gallery/desk/gallery-desk-slide5@1x.jpg 1x, ../img/gallery/desk/gallery-desk-slide5@2x.jpg 2x">
          <img src="../img/gallery/mobile/gallery-mob-slide5@1x.jpg"
               alt="Hugging dog"
               width="335" />
        </picture>
        <p class="overlay">
          Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти фінансово або інформаційно. Кожен маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
        </p>
        </div>
      </li>
    </ul>
    </div>
  </div>
</section>

<!-- <script type="module" src="../js/slider.js"></script> -->
