<!-- Бургер-меню ) -->
<div class="mobile-menu" data-mobile>
  <div class="mobile-menu-overlay" data-mobile-overlay></div>
  <div class="mobile-menu-panel">
    <div class="mobile-menu-top">
      <a class="header-logo" href="./index.html">
        <img
          src="/company-logo.svg"
          alt="Хатинка Лапок"
          width="157"
          height="51"
        />
      </a>
      <button
        class="burger-close-btn"
        type="button"
        aria-label="Закрити меню"
        data-mobile-close
      >
        <svg width="24" height="24" aria-hidden="true">
          <use href="/img/icons.svg#icon-mobile-menu-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-nav">
      <ul class="mobile-menu-list">
        <li><a class="mobile-menu-link" href="#product">Знайди друга</a></li>
        <li><a class="mobile-menu-link" href="#gallery">Про нас</a></li>
        <li><a class="mobile-menu-link" href="#faq">Часті запитання</a></li>
        <li>
          <a class="mobile-menu-link" href="#testimonial">Історія успіху</a>
        </li>
      </ul>
    </nav>

    <a class="mobile-menu-btn" href="#">Взяти друга</a>
  </div>
</div>
