<section class="our-tails" id="product">
  <div class="container">
    <h2 class="tails-title">Наші хвостики</h2>
    <h3 class="tails-subtitle">Вони дуже чекають на знайомство з вами</h3>
    <ul class="tails-filters"></ul>
    <ul class="tails-products"></ul>
    <button class="tails-btn" type="button">Показати більше</button>
  </div>
</section>

<!-- При наведенні на кнопки повинен змінюватись курсор.
При наведенні, фокусі або кліку у кнопок повинні змінюватись стилі відповідно до шаблону UI Kit в макеті. -->
