<section class="our-tails">
  <div class="container">
    Наші хвостики
    <section>
      <!-- тимчасовий контейнер для карток animals-list -->
      <ul class="animals-list"></ul>
      <button
        class="btn-more"
        data-modal-open="details"
        data-id="667ad1b8e4b01a2b3c4d5e01"
      >
        Дізнатись більше
      </button>
    </section>
    <!-- кнопка для завантаження -->
    <div>
      <button type="button" class="js-button-more">Показати більше</button>
    </div>
  </div>
</section>

<!-- При наведенні на кнопки повинен змінюватись курсор.
При наведенні, фокусі або кліку у кнопок повинні змінюватись стилі відповідно до шаблону UI Kit в макеті. -->
