<section class="happy-stories section" id="testimonial">
  <div class="container">
    <h2 class="happy-stories-title">Щасливі історії, що надихають</h2>
    <p class="happy-stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <div class="testimonials-slider-wrapper swiper">
      <div
        class="testimonials-loader is-hidden"
        role="status"
        aria-live="polite"
      >
        <span class="testimonials-loader-spinner" aria-hidden="true"></span>
        <span class="testimonials-loader-text">Завантажуємо історії...</span>
      </div>

      <ul class="testimonials-list swiper-wrapper"></ul>

      <div class="testimonials-nav-container">
        <nav
          class="testimonials-pagination"
          aria-label="Пагінація відгуків"
        ></nav>
        <div class="testimonials-controls">
          <button
            class="control-btn prev-btn"
            type="button"
            aria-label="Попередній відгук"
          >
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-arrow_back"></use>
            </svg>
          </button>
          <button
            class="control-btn next-btn"
            type="button"
            aria-label="Наступний відгук"
          >
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
