.container.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 622px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  font-size: 16px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}
